@font-face {
    font-display: swap;
    font-family: YekanBakh;
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/YekanBakh/Yekan\ Bakh\ EN\ 07\ Heavy.woff");
    src: url("../fonts/YekanBakh/Yekan\ Bakh\ EN\ 07\ Heavy.woff") format("woff"),url("../fonts/YekanBakh/Yekan\ Bakh\ EN\ 07\ Heavy.woff") format("truetype")
}



@font-face {
    font-display: swap;
    font-family: YekanBakh;
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/YekanBakh/Yekan\ Bakh\ EN\ 03\ Light.woff");
    src: url("../fonts/YekanBakh/Yekan\ Bakh\ EN\ 03\ Light.woff") format("woff"),url("../fonts/YekanBakh/Yekan\ Bakh\ EN\ 03\ Light.woff") format("truetype")
}

@font-face {
    font-display: swap;
    font-family: YekanBakh;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/YekanBakh/Yekan\ Bakh\ EN\ 04\ Regular.woff");
    src: url("../fonts/YekanBakh/Yekan\ Bakh\ EN\ 04\ Regular.woff") format("woff"),url("../fonts/YekanBakh/Yekan\ Bakh\ EN\ 04\ Regular.woff") format("truetype")
}

@font-face {
    font-display: swap;
    font-family: YekanBakh;
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/YekanBakh/Yekan\ Bakh\ EN\ 05\ Medium.woff");
    src: url("../fonts/YekanBakh/Yekan\ Bakh\ EN\ 05\ Medium.woff") format("woff"),url("../fonts/YekanBakh/Yekan\ Bakh\ EN\ 05\ Medium.woff") format("truetype")
}

@font-face {
    font-display: swap;
    font-family: YekanBakh;
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/YekanBakh/Yekan\ Bakh\ EN\ 06\ Bold.woff");
    src: url("../fonts/YekanBakh/Yekan\ Bakh\ EN\ 06\ Bold.woff") format("woff"),url("../fonts/YekanBakh/Yekan\ Bakh\ EN\ 06\ Bold.woff") format("truetype")
}



@font-face {
    font-display: swap;
    font-family: YekanBakh;
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/YekanBakh/Yekan\ Bakh\ EN\ 08\ Fat.woff");
    src: url("../fonts/YekanBakh/Yekan\ Bakh\ EN\ 08\ Fat.woff") format("woff"),url("../fonts/YekanBakh/Yekan\ Bakh\ EN\ 08\ Fat.woff") format("truetype")
}
