@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("./style/font.css");
@import url('./style/home.css');
body {
  margin: 0;
direction: rtl;
  font-family: YekanBakh, sans-serif;
}

